////////// GLOBALES //////////
$color-font-hover: #ec2127;
$color-font: #3f3f3f;
$color-h1: #929292;
$color-back-alert: #FFF2F0;
$color-box-shadow: #777;
////////// HEADER //////////
$header-color-box-shadow: #3f3f3f;
$header-color-back-active: #FFF2F0;;

* {
  margin: 0;
  padding: 0;
  border: unset;
  font-family: "Nunito Sans", sans-serif;
}

////////// LOGIN //////////

.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  #content-form {
    width: 16rem;

    #logo {
      display: block;
      width: 10rem;
      margin: 0 auto;
      margin-bottom: 1rem;
    }

    form {
      border: 1px solid rgba($color: #000000, $alpha: .5);
      padding: 2rem;
      padding-top: 1rem;
      padding-bottom: 0;
      border-radius: 0.5rem;
      box-shadow: 2px 2px 3px $color-box-shadow;

      p {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 1rem;
        text-align: center;
      }

      .ant-input-group-addon{
        width: 2rem;
        padding: 0;
      }

      .ant-form-item-control-input-content{
        text-align: center;
      }

      button {
        width: 100%;
      }

      .error {
        background-color: $color-back-alert;
        color: #e0706c;
        font-size: 0.8rem;
        border-radius: 0.3rem;
        font-weight: unset;
        padding: 0.3rem;
      }
    }
  }
}

////////// HEADER //////////

header {
  nav {
    box-shadow: 0.1rem 0.1rem 0.3rem $header-color-box-shadow;

    #logo {
      width: 200px;
    }

    a {
      text-decoration: none !important;
      color: $color-font !important;

      &:hover {
        color: $color-font-hover !important;
      }

      &.dropdown-item:active {
        background-color: $header-color-back-active !important;
      }
    }

    .dropdown-toggle:after {
      content: none;
    }
  }

  .item {
    display: flex;
    height: 1rem;
    align-items: center;

    .icons {
      margin-right: 0.2rem;
      padding-bottom: 0.25rem;
    }
  }

  @media (min-width: 575px) {
    #user {
      display: inline;
      text-align: center;

      span {
        display: block;
        font-size: 0.9rem;
        line-height: 0.9rem;
      }
    }

    .user {
      .dropdown-menu {
        right: 0;
        left: auto;
      }
    }
  }
}

////////// INVITATION //////////

#invitation {
  display: flex;
  margin-top: 1.5rem;
  justify-content: center;
  width: 100%;

  h1 {
    color: $color-h1;
    text-align: center;
    margin-top: 1rem;
  }

  form {
    display: flex;
    justify-content: center;
    width: 90%;
    box-shadow: 0.1rem 0.1rem 0.3rem $color-box-shadow;
    max-width: 768px;

    .ant-form-item-control-input {
      width: 100%;
    }

    #form {
      width: 90%;
      margin: 0 1rem;
    }

    .ant-form-item-label {
      text-align: left;
    }

    .ant-form-item {
      display: flex;
      flex-direction: column;

      .ant-row {
        display: inline;
      }

      label {
        color: $color-font;
      }
    }

    #select {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .ant-row.ant-form-item {
        display: inline-block;
        width: 49%;
      }

      @media (max-width: 575px) {
        flex-direction: column;

        .ant-row.ant-form-item {
          width: 100%;
        }
      }
    }
    .ant-form-item-control-input-content {
      text-align: center;
    }
  }
}

////////// SEE INVITATION - USERS //////////

#show {
  display: flex;
  margin-top: 1.5rem;
  justify-content: center;
  width: 100%;

  #content {
    width: 90%;
    box-shadow: 0.1rem 0.1rem 0.3rem $color-box-shadow;
    max-width: 1024px;

    h1 {
      color: $color-h1;
      text-align: center;
      margin-top: 1rem;
    }

    #btn {
      margin-left: 2rem;
      margin-bottom: 1rem;

      .ant-btn {
        margin-right: 0.1rem;
      }
    }

    #table {
      overflow-x: auto;
      margin: 0 1rem;

      img {
        height: 3rem;
      }
    }
  }
}
